/* Fade Transition */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}


/* Slide Transition */
.slide-enter-active, .slide-leave-active {
  transition: all .33s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(50px);
}
.slide-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}


/* Zoom Transition */
.zoom-enter-active, .zoom-leave-active {
  transition: all 0.3s ease;
}
.zoom-enter-from {
  opacity: 0;
  transform: scale(0.9);
  
}
.zoom-leave-to {
  opacity: 0;
  transform: scale(1.05);
}


/* Slide Up - Transition */
.slide-up-enter-from,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.slide-up-enter-to,
.slide-up-leave-from {
  opacity: 1;
  transform: translateY(0px);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease;
}