/* Fade Transition */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}


/* Slide Transition */
.slide-enter-active, .slide-leave-active {
  transition: all .33s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(50px);
}
.slide-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}


/* Zoom Transition */
.zoom-enter-active, .zoom-leave-active {
  transition: all 0.3s ease;
}
.zoom-enter-from {
  opacity: 0;
  transform: scale(0.9);
  
}
.zoom-leave-to {
  opacity: 0;
  transform: scale(1.05);
}



/* Slide Down / Accordion Transition */
.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-6px);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.25s ease;
}

/* Handle height animation manually */
.slide-down-enter-from,
.slide-down-leave-to {
  height: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  overflow: hidden;
}

.slide-down-enter-to,
.slide-down-leave-from {
  height: auto;
}