/* Light Mode Colors */
:root {
    --c-bg-1: #CCDBDE;
    --c-bg-2: #B4C1C4;
    --c-bg-3: #9CA7AA;

    --c-text-1: #0B0B0C;
    --c-text-2: #2D2D31;
    --c-text-3: #4F4F55;

    --c-ring-1: #0B0B0C;
    --c-ring-2: #2D2D31;
    --c-ring-3: #4F4F55;


    --c-brand-1: #7472FE;
    --c-brand-2: #8685FD;
    --c-brand-3: #302b5e;

}



/* Dark Mode Colors */
[data-theme="dark"] {

    --c-bg-1: #0B0B0C;
    --c-bg-2: #2D2D31;
    --c-bg-3: #4F4F55;

    --c-text-1: #f5f5f5;
    --c-text-2: #A8A8A8;
    --c-text-3: #7A7A7A;

    --c-ring-1: #f5f5f5;
    --c-ring-2: #A8A8A8;
    --c-ring-3: #7A7A7A;

    --c-brand-1: #615bd7;
    --c-brand-2: #8683ce;
    --c-brand-3: #302b5e;


}