@import url("./color-theme.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Tailwind Theme Additions */
@theme inline {
  --color-ring: var(--color-zinc-600);

  --color-surface: var(--color-zinc-800);

  /* Fonts */
  --font-rubik: "Rubik";
  --font-nunito: "Nunito";
  --font-play-pen: "Playpen Sans Arabic";
  --font-cut-letters: "Protest Guerrilla";
  --default-font-family: var(--font-rubik);
  
  /* --color-*: initial; */

  /* Background - App */
  --color-bg-1: var(--c-bg-1);
  --color-bg-2: var(--c-bg-2);
  --color-bg-3: var(--c-bg-3);
  --color-bg-4: var(--c-bg-4);
  --color-bg-soft: color-mix(in oklab, var(--color-bg-3), var(--color-bg-1) 50%);

  /* Text - Color */
  --color-text-1: var(--c-text-1);
  --color-text-2: var(--c-text-2);
  --color-text-3: var(--c-text-3);
  --color-text-4: var(--c-text-4);
  --color-link: color-mix(in oklab, var(--color-text-1), var(--color-sky-400) 88%);
  --color-text-soft: color-mix(in oklab, var(--color-text-3), var(--color-bg-1) 50%);

  /* Border - Color */
  --color-ring-1: var(--c-ring-1);
  --color-ring-2: var(--c-ring-2);
  --color-ring-3: var(--c-ring-3);
  --color-ring-4: var(--c-ring-4);
  --color-ring-soft: color-mix(in oklab, var(--color-ring-3), var(--color-bg-1) 50%);


  /* Color - Brand */
  --color-brand-1: var(--c-brand-1);
  --color-brand-2: var(--c-brand-2);
  --color-brand-3: var(--c-brand-3);
  --color-brand-soft: color-mix(in oklab, var(--color-brand-1), var(--color-bg-1) 55%);


  /* Color - Invalid */
  --color-invalid-1: color-mix(in oklab, var(--color-red-500), var(--c-text-1) 15%);
  --color-invalid-soft: color-mix(in oklab, var(--color-invalid-1), var(--color-bg-1) 50%);



}

/* Tailwind Utility Additions */
@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility button-base {
  @apply flex-center flex-wrap gap-0.75 cursor-pointer p-0.5 rounded-md transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}
@utility button-primary {
  @apply button-base bg-brand-1 hover:bg-brand-1/80;
}



/* App/Body Styles */
html,
body {
  background: var(--c-bg-1);
  /* background: radial-gradient(circle at top, #1e1b4b 0%, #111827 60%); */
  color: var(--c-text-1);
  font-family: var(--font-nunito) !important;
  box-sizing: border-box;
  position: relative;
}

#app {
  /* background: radial-gradient(circle at top, hsl(244, 43%, 19%) 0%, #111827 60%); */
  @apply min-h-full w-full max-w-full flex flex-col flex-wrap flex-1 relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh; /* Full screen height */
}

.scroll-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
