@import "tailwindcss";

@theme {
    --color-text-1: var(--vp-c-text-1);
    --color-ring-soft: var(--vp-c-default-1);
    --color-bg-3: var(--vp-c-default-1);
}


/* Custom Animations */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-leave-from,
.fade-enter-to {
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.33s
}