@import "tailwindcss";


/* Custom Animations */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-leave-from,
.fade-enter-to {
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.33s
}